{% extends 'admin_template/base_template.html' %}
{% load static %}
{% block page_title %}
Actions To Perfom For/On Staff Records
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<div class="card card-success">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4">
        <a href="#" class="info-box">
            <span class="info-box-icon bg-info elevation-1"><img class="card-img-top" src="{% static "/dist/img/addBook.png" %}" alt="Dist Photo 2"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Add New Resources</span>
            </div>
            <!-- /.info-box-content -->
        </a>
            <div class="card-body">
                <strong><i class="fas fa-question-circle"></i> Add resources</strong>

                <p class="text-muted">
                coming soon...
                </p>

            </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <a href="#" class="info-box">
            <span class="info-box-icon bg-info elevation-1"><img class="card-img-top" src="{% static "/dist/img/editBooks.png" %}" alt="books"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Manage Existing Resouces</span>
            </div>
            <!-- /.info-box-content -->
        </a>
        <div class="card-body">
          <strong><i class="fas fa-question-circle"></i> Add resources</strong>

          <p class="text-muted">
          coming soon...
          </p>

      </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <a href="#" class="info-box">
            <span class="info-box-icon bg-info elevation-1"><img class="card-img-top" src="{% static "/dist/img/allBooks.png" %}" alt="Dist Photo 2"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">View All Resources</span>
            </div>
            <!-- /.info-box-content -->
        </a>
        <div class="card-body">
          <strong><i class="fas fa-question-circle"></i> Add resources</strong>

          <p class="text-muted">
          coming soon...
          </p>

      </div>
      </div> 
    </div>
  </div>
</div>
<!-- /.content -->
{% endblock main_content %}