{% extends 'admin_template/base_template.html' %}
{% load static %}

{% block custom_css %}
 <!-- DataTables -->
 <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
 <link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
 <link rel="stylesheet" href="{% static "plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %}">

{% endblock custom_css %}

{% block page_title %}
Old Cummulative Average
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
        {% comment %} Display Messages {% endcomment %}
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <form role="form" action="/old_cumm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Entry Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Select Session</label>
                                    <select class="form-control" name="session_id" id="session_id">
                                        {% for sessions in sessions %}
                                        <option value="{{ sessions.id }}">{{ sessions.session_start_year }}/{{ sessions.session_end_year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Student Reg.No:</label>
                                    <input type="text" class="form-control" name="reg" id="id_username" placeholder="Enter Reg. number">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Result Analysis in PDF</label>
                                    <input type="file" class="form-control" name="cumm_file" id="cumm_file" placeholder="Select File">
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-block" id="submit">Add To Archive</button>
                    </div>
                </div> 
                <!-- /.card -->
            </form>
         
            <div class='row'>
                <div class='col-12'>
                    <div class='card'>
                        <div class='card-body'>
                            <table id='example1' class='table table-bordered table-striped'>
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Student</th>
                                        <th>Reference</th>
                                        <th>Analysis</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for old_result in old_results %}
                                    <tr>
                                        
                                        <td>{{ old_result.id }}</td>
                                        <td>{{ old_result.students.admin.first_name}} {{ old_result.students.admin.last_name}} --{{ old_result.students.admin.username}}</td>
                                        <td>Sess.:   {{ old_result.session_year.session_start_year }}/{{ old_result.session_year.session_end_year }}</td>
                                        <td><a href="{{ old_result.cummulative_file }}">View Cummulative</a></td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>SN</th>
                                        <th>Student</th>
                                        <th>Reference</th>
                                        <th>Result</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock main_content %}


{% block custom_js %}
<!-- DataTables  & Plugins -->
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/buttons.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/jszip/jszip.min.js" %}"></script>
<script src="{% static "plugins/pdfmake/pdfmake.min.js" %}"></script>
<script src="{% static "/plugins/pdfmake/vfs_fonts.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/buttons.html5.min.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/buttons.print.min.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/buttons.colVis.min.js" %}"></script>
<script>
    $(document).ready(function(){
                $(function () {
                    $("#example1").DataTable({
                      "responsive": true, "lengthChange": false, "autoWidth": false,
                      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                    $('#example2').DataTable({
                      "paging": true,
                      "lengthChange": false,
                      "searching": false,
                      "ordering": true,
                      "info": true,
                      "autoWidth": false,
                      "responsive": true,
                    });
                  });

                $("#id_username").keyup(function(){
                    var username=$(this).val();
        
                    if(username!=""){
                        $.ajax({
                            url:'{% url 'check_username_exist' %}',
                            type: 'POST',
                            data:{username:username}
                        })
                        .done(function(response){
                            console.log(response);
                            if(response=="True"){
                                $(".username_error").remove();
                                $("<span class='username_error' style='padding:5px;color:red;font-weight:bold;'>ID Already In Use</span>").insertAfter("#id_username");
                            }
                            else{
                                $(".username_error").remove();
                                $("<span class='username_error' style='padding:5px;color:green;font-weight:bold;'>ID Available</span>").insertAfter("#id_username");
                            }
                        })
                        .fail(function(){
                            console.log("fail");
        
                        })
                    }
                    else{
                        $(".username_error").remove();
                    }
                });
    });
   
</script>
{% endblock custom_js %}