{% extends 'tutors_template/base_template.html' %}

{% block page_title %}
Computer Based Test
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h2 class="card-title">Add Questions to {{ quiz.title }} {{quiz.subject.subject_name}} {{ quiz.quiz_type }}</h2>
                        </div>

                            <form role="form" method="post" action="{% url 'addquestion' quiz_id=quiz.id %}">
                                {% csrf_token %}
            
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
        
                                <div class="card-body">
                                {% for i in question_count %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">   
                                            <div class="form-group">
                                                <label for="question_{{ i }}">Question {{ i }}</label>
                                                <textarea name="question_{{ i }}" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="correct_answer_{{ i }}">Correct Answer {{ i }}</label>
                                                <input type="text" name="correct_answer_{{ i }}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="answer_{{ i }}_1">Answer {{ i }} - 1</label>
                                                <input type="text" name="answer_{{ i }}_1" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="answer_{{ i }}_2">Answer {{ i }} - 2</label>
                                                <input type="text" name="answer_{{ i }}_2" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="answer_{{ i }}_3">Answer {{ i }} - 3</label>
                                                <input type="text" name="answer_{{ i }}_3" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary btn-block">Save Questions</button>
                            </form>    
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- /.card -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Questions</h3>
                        </div>
                        <div class="card-body">
                            <div class="table">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Question</th>
                                        <th>Answers</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for question in questions %}
                                    <tr>
                                        <td><h3>{{ forloop.counter }}</h3></td>
                                        {% for question_text, answers in question.items %}
                                        
                                            
                                            <td>{{ question_text }}</td>
                                            <td>
                                            <ul>
                                                {% for answer in answers %}
                                                <li>{{ answer }}</li>
                                                {% endfor %}
                                            </ul>
                                            </td>
                                        
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col (left) -->
            </div>
        </div><!-- /.container-fluid -->
    </section> 

{% comment %} <!-- Main content -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                          <h2 class="card-title">Add Questions to {{quiz.subject.subject_name}} {{ quiz.quiz_type }}</h2>
                      </div>

                        <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% if messages%}
                                <div class="col-12">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <input type="hidden" name="quiz" value="{{ quiz.id }}">
                        {% for i in no_question %}
                            <h2>Question {{ forloop.counter }}</h2>
                            <label for="text_{{ i }}">Question:</label>
                            <input type="text" name="text_{{ i }}" id="text_{{ i }}">
                            <br>
                            <label for="correct_answer_{{ i }}">Correct Answer:</label>
                            <input type="text" name="correct_answer_{{ i }}" id="correct_answer_{{ i }}">
                            <br>
                            <label for="wrong_answer_1_{{ i }}">Wrong Answer 1:</label>
                            <input type="text" name="wrong_answer_1_{{ i }}" id="wrong_answer_1_{{ i }}">
                            <br>
                            <label for="wrong_answer_2_{{ i }}">Wrong Answer 2:</label>
                            <input type="text" name="wrong_answer_2_{{ i }}" id="wrong_answer_2_{{ i }}">
                            <br>
                            <label for="wrong_answer_3_{{ i }}">Wrong Answer 3:</label>
                            <input type="text" name="wrong_answer_3_{{ i }}" id="wrong_answer_3_{{ i }}">
                            <br>
                        {% endfor %}
                        <input type="submit" value="Add Questions">
                        </form>
                    </div>
                </div>
            </div>

            </div>
        </div><!-- /.container-fluid -->
    </section> {% endcomment %}
{% endblock main_content %}
          