{% extends 'tutors_template/base_template.html' %}

{% block page_title %}
Computer Based Test
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-primary">
                      <div class="card-header">
                          <h2 class="card-title">Add Quiz</h2>
                      </div>
                      
                      <form method="post">
                        {% csrf_token %}
                        <div class="row">
                          {% if messages%}
                              <div class="col-12">
                              {% for message in messages %}
                                  {% if message.tags == 'error' %}
                                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                  {% endif %}
                                  {% if message.tags == 'success' %}
                                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                  {% endif %}
                              {% endfor %}
                              </div>
                          {% endif %}
                        </div>
                        <div class="form-group">
                          <label for="subject">Subject:</label>
                          <select name="subject" id="subject" class="form-control">
                            {% for subjects in subjects %}
                              <option value="{{ subjects.id }}">{{subjects.outline}}: {{ subjects.subject_name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="text" name="name" id="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="topic">Topic:</label>
                          <input type="text" name="topic" id="topic" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="number_of_questions">Number of questions:</label>
                          <input type="number" name="number_of_questions" id="number_of_questions" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="time">Time (in minutes):</label>
                          <input type="number" name="time" id="time" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="required_score_to_pass">Required score to pass:</label>
                          <input type="number" name="required_score_to_pass" id="required_score_to_pass" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="quiz_type">Quiz type:</label>
                          <select name="quiz_type" id="quiz_type" class="form-control">
                            {% for choice in QUIZ_CHOICES %}
                              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Add Quiz</button>
                      </form>
                  </div>
                  <!-- /.card -->
                  <div class="card card-primary">
                      <div class="card-header">
                          <h3 class="card-title">Quizez</h3>
                      </div>
                      
                      <div class="table">
                          <table class="table table-striped table-hover">
                              <tr>
                                  <th>ID</th>
                                  <th>Quiz Details</th>
                                  <th>Quiz Values</th>
                                  <th>Actions</th>
                              </tr>
                              {% for obj in obj %}
                                  <tr>
                                      <td><h1>{{ forloop.counter }}</h1></td>
                                      <td>
                                        Subject: {{ obj.subject.outline }}: {{obj.subject.subject_name}}<br>
                                        Topic: {{obj.topic}}<br>
                                        Type: {{obj.quiz_type}}<br>
                                        Discription{{obj.name}}
                                      </td>
                                      <td>
                                        Score to pass: {{obj.required_score_to_pass}}<br>
                                        Quiz Duration: {{obj.time}} Minute
                                      </td>
                                      <td>
                                        <a href="{% url 'addquestion' quiz_id=obj.id %}" class="btn btn-primary btn-block">Add Questions</a><br>
                                      <a href="http://" class="btn btn-success btn-block">view Results</a>
                                    </td>
                                  </tr>                          
                              {% endfor %}
                          </table>
                      </div>
                  </div>
              </div>
              <!--/.col (left) -->
          </div>
      </div><!-- /.container-fluid -->
  </section>
 
  {% endblock main_content %}
