{% extends 'tutors_template/base_template.html' %}

{% block page_title %}
Your Class
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card card-primary col-lg-12">
            <div class="card-header"  style="margin: 0 auto;">
                <h3 class="card-title">Classes Your Involed With</h3>
            </div>
        </div>
        </div>
        <div class="row">
            <!-- About Me Box -->
            {% for form_class in form_class %}
            <div class="col-md-4 col-lg-3 col-xl-3">
                <div class="card card-primary">
                    <div class="card-header">
                    <h2 class="card-title">Form Class</h2>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <h3>{{ form_class.class_id.name }} {{ form_class.name }}</h3>

                        <p class="text-muted">
                            You are the form tutor of the above class
                        </p>
                        <hr>
                        <a href="{% url 'manage_form_class' form_class.id %}"> Manage Class</a>
                        <hr>
                        <strong><i class="fas fa-file-alt mr-1"></i>Note</strong>
                        <p class="text-muted">All assesment most be done by you</p>
                        <p class="text-muted">All assesment most be done by you</p>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            {% endfor %}
            {% for subject_class in subject_class %}
            <div class="col-md-4 col-lg-3 col-xl-3">
                <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">{{ subject_class.class_id.name }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i>{{ subject_class.subject_name }}</strong>

                    <p class="text-muted">
                        {{ subject_class.outline }}
                    </p>

                    <hr>
                    <strong><i class="fas fa-pencil-alt mr-1"></i>Resources</strong>
                    <p class="text-muted"><a href="{{ subject_class.term1_resources }}">First Term File</a></p>
                    <p class="text-muted"><a href="{{ subject_class.term1_resources }}">Second Term File</a></p>
                    <p class="text-muted"><a href="{{ subject_class.term1_resources }}">Third Term File</a></p>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock main_content %}