{% extends 'registration/base.html' %}
{% block content %}

<div class="account-container">
    <div class="heading-bx left">
        <h2 class="title-head">Forgot <span>Password</span></h2>
    </div>	
    <form class="contact-bx" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
        </div>
        {% endfor %}
        <button type="submit" class="btn button-md">Submit</button>
    </form>
</div>

{% endblock content %}