{% extends 'admin_template/base_template.html' %}
{% load static %}
{% block page_title %}
Manage Students
{% endblock page_title %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
            <div class="col-12">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Students Details</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap" id='example1' >
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Student Info</th>
                        <th>Parent Info</th>
                        <th>Last Update</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for students in students %}
                        <tr>
                        <td></td>
                        <td><img alt="Passport" src="{{students.profile_pic}}" style="max-width: 50px;"></td>
                        <td>Reg. No: {{ students.admin.username}} <br>Class: {{ students.class_id.name}} {{ students.class_category.name}} <br>Name: {{ students.admin.first_name}} {{ students.admin.last_name}} <br>{{ students.gender}} <br>Ad.Ses: {{ students.session_year_id.session_start_year}} To {{ students.session_year_id.session_end_year}}</td>
                        <td>Name; {{students.parent_name}} <br>Phone: {{student.parent_phone}} <br>Email: {{student.parent_email}}</td>
                        <td>{{ students.updated_at}}</td>
                        <td><a href="{% url 'edit_student' students_id=students.admin.id %}" class="btn btn-success">Edit</a></td>
                       </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}

    
{% block custom_js %}
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <script src="{% static "plugins/datatables-buttons/js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "plugins/datatables-buttons/js/buttons.bootstrap4.min.js" %}"></script>
    <script src="{% static "plugins/jszip/jszip.min.js" %}"></script>

    <script>
        $(document).ready(function(){
            $(function () {
                $("#example1").DataTable({
                  "responsive": true, "lengthChange": false, "autoWidth": false,
                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                $('#example2').DataTable({
                  "paging": true,
                  "lengthChange": false,
                  "searching": false,
                  "ordering": true,
                  "info": true,
                  "autoWidth": false,
                  "responsive": true,
                });
              });
            
        });
</script>
{% endblock custom_js %}
        