{% extends 'public_template/public_base_template.html' %}
{% load static %}
{% block public_main_content %}
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/banner2.jpg' %}');">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">About Us</h1>
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="/">Home</a></li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
		<!-- Page Content Box ==== -->
		<div class="content-block">
            <!-- About Us ==== -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<img class="icon-cell" src="{% static "assets/images/icon/icon1.png" %}" alt=""/>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Our Core Values</h5>
									<p>Orienting the child's mind towards productivity. <br>Positive values for the child, to the society, to the World at large</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<img class="icon-cell" src="{% static "assets/images/icon/icon2.png" %}" alt=""/>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Our Mission</h5>
									<p>To raise future nation builders with sound moral teaching for a better Nigeria and the world at large.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<img class="icon-cell" src="{% static "assets/images/icon/icon3.png" %}" alt=""/>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Recorgnition</h5>
									<p>Christ High School is government approved co-educational private school in accordance with Nigerian Policy on Education</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<img class="icon-cell" src="{% static "assets/images/icon/icon4.png" %}" alt=""/>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Our Vision</h5>
									<p>To be a leading citadal of learning where students acquire knowledge with godliness.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 heading-bx text-center">
							<h2 class="title-head text-uppercase m-b0">WELCOME TO CHRIST HIGH SCHOOL</h2>
							<p style="text-align: justify;">In recorgnition of the need for a school that would adequately prepare and raise future
								 nation builders with sound academic excellence, spiritual, moral and creativity as their foundation, thus, the school came into existance in 2015
								 to provide the desired option central to a purposed filled christliked individuals.	 
								 Its operation commenced in a purposed built facility with specious ground, flexible for expansion. The enrollment 
								 population at commencement was twenty seven students and 38 members of staff both academic and non academic which 
								 has rose to 236 and 88 respectively.
								<br>The growth equally matched our perfomance and achievement in external examinations and competitions</p>
						</div>


						<div class="col-md-12 heading-bx left">
							<h2 class="title-head text-uppercase">what people Say</span></h2>
						</div>
					</div>
					<div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-info">
									<h5 class="name">Mr. Ayilera James Abiodun</h5>
									<p>-IQ Coordinator Abujat</p>
								</div>
								<div class="testimonial-content">
									<p>2021</p>
									<p> Out of all the schools that turn out this year CHS came out with amazing performance, with 1st position and a consolation prize as the 7th. Hoping they do more in subsequent years.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-info">
									<h5 class="name">Mr. Benbella</h5>
									<p>-Parent</p>
								</div>
								<div class="testimonial-content">
									<p>2021</p>
									<p>The perfomance of your graduates in the just concluded NDA screening is outstanding                                                            </p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-info">
									<h5 class="name">Pharm. and Mrs. Femi Awotunde</h5>
									<p>-Parent</p>
								</div>
								<div class="testimonial-content">
									<p>2021</p>
									<p>Thank you for building and making my son a better person, for that I am willing to bring more student and suggest you to many other families.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-info">
									<h5 class="name">Bar. Mrs. Joy Iorshenge</h5>
									<p>-Parent</p>
								</div>
								<div class="testimonial-content">
									<p>2021</p>
									<p>Am in love with CHS that is the reason I talk to parents to join the CHS family.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-info">
									<h5 class="name">Mr. Ayilera James Abiodun</h5>
									<p>-IQ Coordinator</p>
								</div>
								<div class="testimonial-content">
									<p>2017</p>
									<p>A new and coming school yet the best in the IQ competition, I believe the teachers are doing a wonderful job and the children experiancing a very condusive learning environment.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimonials END ==== -->
		</div>
		<!-- Page Content Box END ==== -->

{% endblock public_main_content %}