{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META === -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="CHS: Christ High School, Uke" />
	
	<!-- OG -->
	<meta property="og:title" content="CHS: Christ High School, Uke" />
	<meta property="og:description" content="CHS: Christ High School, Uke" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	

    <!-- FAVICONS ICON === -->

	<!-- FAVICONS ICON === -->

	<link rel="icon" href="{% static "assets/images/favicon.ico" type="image/x-icon" %}" />
	<link rel="shortcut icon" type="{% static "image/x-icon" href="assets/images/favicon.ico" %}" />
	
	<!-- PAGE TITLE HERE === -->
	<title>Christ High School</title>
	
	<!-- MOBILE SPECIFIC === -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- All PLUGINS CSS === -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/assets.css" %}">
	
	<!-- TYPOGRAPHY === -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/typography.css" %}">
	
	<!-- SHORTCODES === -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/shortcodes/shortcodes.css" %}">
	
	<!-- STYLESHEETS === -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css" %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static "assets/css/color/color-1.css" %}">
	
</head>
<body id="bg">
<div class="page-wraper">
    <div class="account-form">
        <div class="account-head" style="background-image:url('{% static 'assets/images/background/bg2.jpg' %}');">
            <a href="{% url 'index' %}"><img src="{% static "assets/images/logo-white-2.png" %}" alt=""></a>
        </div>
        <div class="account-form-inner">
            <div class="account-container">
                <div class="error-page">
                


                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="service-bx">
                                        <div class="action-box">
                                            <img src="{% static "assets/images/our-services/pic1.jpg" %}" alt="">
                                        </div>
                                        <div class="info-bx text-center">
                                            <div class="feature-box-sm radius bg-white">
                                                <i class="fa fa-bank text-primary"></i>
                                            </div>
                                            <h4><a href="{% url 'apply' %}">Student Application</a></h4>
                                            <a href="{% url 'apply' %}" class="btn radius-xl">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="service-bx">
                                        <div class="action-box">
                                            <img src="{% static "assets/images/our-services/pic2.jpg" %}" alt="">
                                        </div>
                                        <div class="info-bx text-center">
                                            <div class="feature-box-sm radius bg-white">
                                                <i class="fa fa-book text-primary"></i>
                                            </div>
                                            <h4><a href="{% url 'apply_job' %}">Job Application</a></h4>
                                            <a href="{% url 'apply_job' %}" class="btn radius-xl">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

















                    
                </div>
            </div>
        </div>
    </div>



</div>
<!-- External JavaScripts -->
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap/js/popper.min.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap-select/bootstrap-select.min.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js" %}"></script>
<script src="{% static "assets/vendors/magnific-popup/magnific-popup.js" %}"></script>
<script src="{% static "assets/vendors/counter/waypoints-min.js" %}"></script>
<script src="{% static "assets/vendors/counter/counterup.min.js" %}"></script>
<script src="{% static "assets/vendors/masonry/masonry.js" %}"></script>
<script src="{% static "assets/vendors/owl-carousel/owl.carousel.js" %}"></script>
<script src="{% static "assets/js/functions.js" %}"></script>
<script src="{% static "assets/js/contact.js" %}"></script>
</body>


</html>