{% extends 'public_template/public_base_template.html' %}
{% load static %}
{% block public_main_content %}
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner3.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Frequently Asked Questions</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="/">Home</a></li>
					<li>Faqs</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Your Faq -->
            <!-- Our Services -->
            <div class="section-area section-sp1">
                <div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="heading-bx left">
								<h2 class="m-b10 title-head">Asked <span> Questions</span></h2>
							</div>
							<p class="m-b10">Have a question?</p>
							<p>We have an elaborate quick access to the frequently ask questions by our visitors.</p>
							<div class="ttr-accordion m-b30 faq-bx" id="accordion1">
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse" href="#faq1" class="collapsed" data-parent="#faq1">
											Why won't my application go through? </a> </h6>
									</div>
									<div id="faq1" class="acod-body collapse">
										<div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse" href="#faq2" class="collapsed" data-parent="#faq2">
											How do I get a refund?</a> </h6>
									</div>
									<div id="faq2" class="acod-body collapse">
										<div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse"  href="#faq3" class="collapsed"  data-parent="#faq3">
											How do I get scholarship? </a> </h6>
									</div>
									<div id="faq3" class="acod-body collapse">
										<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse"  href="#faq4" class="collapsed"  data-parent="#faq4">
											Why aren't result showing in my child's portal? </a> </h6>
									</div>
									<div id="faq4" class="acod-body collapse">
										<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse"  href="#faq5" class="collapsed"  data-parent="#faq5">
											Forgot Password </a> </h6>
									</div>
									<div id="faq5" class="acod-body collapse">
										<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
									</div>
								</div>
							</div>
							<p class="m-b10">Want more?</p>
							<p>Message us your questions and we will get back to you as soon as possible.</p>
						</div>
						<div class="col-lg-4 col-md-12">
							<div class="bg-primary text-white contact-info-bx">
								<h2 class="m-b10 title-head">Contact <span>Information</span></h2>
								<p>you can get to us through any of the follwoing channels.</p>
								<div class="widget widget_getintuch">	
									<ul>
										<li><i class="ti-location-pin"></i>Chirst High School Uke, Keffi Road</li>
										<li><i class="ti-mobile"></i>0800-123456 (24/7 Support Line)</li>
										<li><i class="ti-email"></i>info@christhighschool.com</li>
									</ul>
								</div>
								<h5 class="m-t0 m-b20">Follow Us</h5>
								<ul class="list-inline contact-social-bx">
									<li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					
                </div>
            </div>
            <!-- Your Faq End -->

			<!-- About Us -->
			<div class="section-area section-sp1 bg-gray">
                <div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<img class="icon-cell" src="{% static "assets/images/icon/icon1.png" %}" alt=""/>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Our Core Values</h5>
									<p>Orienting the child's mind towards productivity..............Positive values for the child, to the society, to the World at large</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<img class="icon-cell" src="{% static "assets/images/icon/icon2.png" %}" alt=""/>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Our Mission</h5>
									<p>Is to raise future nation builders with sound moral teaching for a better Nigeria and the world at large.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<img class="icon-cell" src="{% static "assets/images/icon/icon3.png" %}" alt=""/>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Recorgnition</h5>
									<p>Christ High School is government approved co-edicational private school in accordance with Nigerian Policy on Education</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<img class="icon-cell" src="{% static "assets/images/icon/icon4.png" %}" alt=""/>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Our Vision</h5>
									<p>Is to be a leading citadal of learning where students acquire knowledge with godliness.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- Company Stats -->
			<div class="section-area content-inner section-sp1 bg-gray">
                <div class="container">
                    <div class="section-content">
                         <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-primary">
										<span class="counter">50</span><span>+</span>
									</div>
									<span class="counter-text">Graduates</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-black">
										<span class="counter">500</span><span>+</span>
									</div>
									<span class="counter-text">Happy Clients</span>
								</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-primary">
										<span class="counter">60</span><span>+</span>
									</div>
									<span class="counter-text">Questions Answered</span>
								</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-black">
										<span class="counter">17</span><span>+</span>
									</div>
									<span class="counter-text">Scholarships Awarded</span>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Company Stats END -->
        </div>
		<!-- contact area END -->
{% endblock public_main_content %}