{% extends 'public_template/public_base_template.html' %}
{% load static %}
{% block public_main_content %}
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url('{% static 'assets/images/banner/banner2.jpg' %}');">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Our Programs</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="/">Home</a></li>
					<li>Our Programs</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp2">
                <div class="container" id="junior-section">
					<div class="row">
						<div class="col-md-12 heading-bx text-center">
							<h2 class="title-head text-uppercase m-b0">review, apply and<br/> <span> unlock potentials in your child</span></h2>
						</div>
					</div>
					 <div class="pricingtable-row">
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-6 m-b40">
								<div class="pricingtable-wrapper">
									<div class="col-md-12 heading-bx text-center">
										<h2 class="title-head text-uppercase m-b0">JUNIOR SECTION</h2>
										<p style="text-align: justify;">The junior secondary section ranges from JS 1 to JS 3 with minimum age of 10 years. 
											It is the starting point of molding and sharpening bright minds with intellectual 
											stability with a siren environment and modern learning accessories such as projectors, 
											trace boards, ICT lab, standard and well-equipped Library/laboratories. Providing every
											 child with electronic tablet for easy learning. Exercise books, complete text books, writing
											  materials, etc.  Giving extensive lesson structure in mathematics, English, pre-vocational studies
											   which include Agric and Home Economics, Basic Science and Tech which include PHE, Basic Science,
											    Basic Tech and Computer, National Values and Education which include Social Studies, Security and
												 Education and Civic, music, working with standard course outline and more. As the standard of CHS 
												 curtail, we promote good morals, godliness, team work. And friendliness amongst peers, class mates
												  and school mates. <br>
											So far there have been tremendous success in both NECO BECE and  State BECE (ERC), CHS students have  outstanding performances with great grades
											
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-6 m-b40">
								<div class="pricingtable-wrapper" id="senior-section">
									<div class="col-md-12 heading-bx text-center">
										<h2 class="title-head text-uppercase m-b0">SENIOR SECTION</h2>
										<p style="text-align: justify;">The Senior Secondary section basically comprises of sciences, social sciences, 
											Arts and Humanities departments with intensive tutoring to subject/course selections. Conducive E-learning 
											environment with Computer based test to help their computing abilities, fully equipped Library/Laboratories, computer lab and tablets for every student,
											 able mentors and guidance/counselling and modern learning equipments like projectors, trace boards and more. Sciences offer subjects 
											 like Mathematics, Further Mathematics English, Biology, Chemistry, Physics, Geography and more.
											  While Art and Humanities department offer subjects like Math, English, Biology, Literature, Government,
											   Accounting, History, and more. The Senior Secondary session covers SS 1 to SS 3 with WAEC, NECO and JAMB written
											    at the end of SS 3. CHS does not only stop at promoting good morals and the likes but also births students
												 who can defend themselves in a competitive world after they leave the four walls of the institution.  
										Their WAEC, NECO and JAMB result has been excellent. 
										<br>
											Perseverance with prayers is a key to success
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>

			<div class="section-area content-inner section-sp1">
                <div class="container">
                    <div class="section-content">
                         <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-primary">
										<span class="counter">87</span><span>+</span>
									</div>
									<span class="counter-text">Graduates</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-black">
										<span class="counter">840</span><span>+</span>
									</div>
									<span class="counter-text">Happy Clients</span>
								</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-primary">
										<span class="counter">16</span><span>+</span>
									</div>
									<span class="counter-text">Competition Won </span>
								</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-black">
										<span class="counter">26</span><span>+</span>
									</div>
									<span class="counter-text">External Exams Taken</span>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Our Status END ==== -->

{% endblock public_main_content %}