{% extends 'tutors_template/base_template.html' %}

{% block custom_css %}

{% endblock custom_css %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <h2>Objective Questions for {{ quiz.title }}</h2>
        <div class="question-list">
            {% for question in questions %}
                <div class="question-item mb-4">
                    <h4>{{ forloop.counter }}. {{ question.question }}</h4>
                    
                    {% if question.diagram %}
                        <img src="{{ question.diagram.url }}" alt="Question Diagram" class="img-fluid question-diagram">
                    {% endif %}
                    
                    <ul class="options-list mt-2">
                        {% for option in question.options.all %}
                            <li class="{% if option.is_correct %}text-success{% endif %}">
                                {{ option.option_value }}: {{ option.option_text }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        
        
        <h2>Theory Questions for {{ quiz.title }}</h2>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Question Number</th>
                    <th>Question</th>
                    <th>Diagram</th>
                    <th>Answer Summary</th>
                </tr>
            </thead>
            <tbody>
                {% for question in theory_questions %}
                <tr>
                    <td>{{ question.question_number }}</td>
                    <td>{{ question.question|linebreaksbr }}</td>
                    <td>
                        {% if question.diagram %}
                            <img src="{{ question.diagram.url }}" alt="Diagram" style="max-width: 100px;">
                        {% else %}
                            No diagram
                        {% endif %}
                    </td>
                    <td>{{ question.answer_summary|default:"No summary provided" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'tutor_quiz_management' %}" class="btn btn-primary mt-4">Back to Quiz Management</a>
    </div><!-- /.container-fluid -->
</section> 

{% endblock main_content %}


{% block custom_js %}

{% endblock custom_js %}
